


  html,body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    color: #c9d6df;

    width:100%;
    margin: 0px;
    padding:0px;
    overflow-x:hidden;


  }

  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #00252e;
    font-size: 18px;
  }

  h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #00252e;
    font-size: 16px;
  }

  h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #00252e;
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .about {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
  }

  .aboutbox {
    flex: 1;
    max-width: 200px;
    min-width: 100px;
    flex-direction: column;
  }

  .aboutbox div {
    height: 40px;
  }

  .article {
    color: #00252e;
    max-width: 100%;
  }

  .article:nth-of-type(1) {
    flex:1;
    width: 90%;
    align-self: center;
    text-align: center;
    padding: 0;
    min-width: 250px;

  }

  .article:nth-of-type(2) {
    flex:2;
    align-self: center;
    max-width: 100%;
    width: 90%;

  }

  .bottomcontainer {
    background-color: #00252e;
    color: #ebfbff;
    margin:0 auto 0 auto;
    width: 100%;

  }

  .bottomgetstarted {
    border-radius: 10px 10px;
    box-shadow: 0px 0px 5px #E8EAEA;
    padding: 20px;
    width:80%;
    max-width: 90%;
    min-width: 200px;
    text-align: center;
    position: relative;
    left: 5%;
    top:75px;
    z-index: 1;
    background-color: white;

  }

  .bottomlogo img {
    width:100%;
    height:auto;
    max-width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .box-1 {
    max-width: 450px;
    flex: 1;
    padding: 5%;
  }

  .box-1 p {
    color: #96A4AF;
  }

  .box-2 {
    flex: 1;
    max-width: 70%;
  }

  .box-3 {
    min-width: 300px;
    max-width: 450px;
    flex: 1;
    padding: 0 90px;
  }

  .box-3 p {
    color: #96A4AF;
  }

  .box-4 {
    flex: 1;
    max-width: 70%;
    padding: 50px 90px;
  }

  .copyright {
    text-align: center;
    margin-right: 10%;
    font-size: 10px;
  }

  .contactgrid {
    display: grid;
    grid-template-columns: 30px 300px;
    grid-gap: 30px 0px;
    flex: 300px;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    margin-bottom: 30px;
    margin-bottom: 30px;

  }

  .flexbottom {
    max-width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 7.5%;
    padding-top: 150px;
    font-size: 14px;
  }

  .flexmiddle {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 5px #E8EAEA;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column-reverse;
    text-align: center;
    padding-bottom: 10px;

  }

  .flexmiddle-2 {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 5px #E8EAEA;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 10px;

  }

  .flextop {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 150px 5% 0 5%;
    flex-direction: column;
  }

  .getstarteddiv {
   margin-top: 30px;
   margin-bottom: 30px;
  }

  .middlecontainer {
    max-width: 85%;
    margin: 100px auto 0px auto;
    padding-top: 5%;
    display: flex;
    flex-direction: column;

  }

  .socialmedia {
    display: flex;
    min-width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .topcontainer {
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzc1IiBoZWlnaHQ9IjY1NyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIw%0D%0AMDAvc3ZnIj48ZGVmcz48bGluZWFyR3JhZGllbnQgeDE9Ii0xOS44NyUiIHkxPSItNi43NjglIiB4%0D%0AMj0iMTE3LjU5NCUiIHkyPSIxMDAlIiBpZD0iYSI+PHN0b3Agc3RvcC1jb2xvcj0iI0ZGRiIgc3Rv%0D%0AcC1vcGFjaXR5PSIwIiBvZmZzZXQ9IjAlIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0M5RjBGRiIgb2Zm%0D%0Ac2V0PSIxMDAlIi8+PC9saW5lYXJHcmFkaWVudD48bGluZWFyR3JhZGllbnQgeDE9IjExOS45MzYl%0D%0AIiB5MT0iMCUiIHgyPSIwJSIgeTI9Ijg0LjU4OSUiIGlkPSJiIj48c3RvcCBzdG9wLWNvbG9yPSIj%0D%0ARkZGIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMCUiLz48c3RvcCBzdG9wLWNvbG9yPSIjQzlG%0D%0AMEZGIiBvZmZzZXQ9IjEwMCUiLz48L2xpbmVhckdyYWRpZW50PjxsaW5lYXJHcmFkaWVudCB4MT0i%0D%0AMTM3LjAyOSUiIHkxPSIxMjkuMTA0JSIgeDI9IjUwJSIgeTI9IjUwJSIgaWQ9ImMiPjxzdG9wIHN0%0D%0Ab3AtY29sb3I9IiNGRkYiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIwJSIvPjxzdG9wIHN0b3At%0D%0AY29sb3I9IiNDOUYwRkYiIG9mZnNldD0iMTAwJSIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdy%0D%0AYWRpZW50IHgxPSItOTcuMDElIiB5MT0iMTQ4LjIxOCUiIHgyPSI2NS45MjElIiB5Mj0iNTAlIiBp%0D%0AZD0iZCI+PHN0b3Agc3RvcC1jb2xvcj0iI0ZGRiIgc3RvcC1vcGFjaXR5PSIwIiBvZmZzZXQ9IjAl%0D%0AIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0M5RjBGRiIgb2Zmc2V0PSIxMDAlIi8+PC9saW5lYXJHcmFk%0D%0AaWVudD48bGluZWFyR3JhZGllbnQgeDE9Ii0xNjAuNzk2JSIgeTE9Ii0yMjQuNDUzJSIgeDI9IjEw%0D%0ANy4wNDclIiB5Mj0iNzAuNzAyJSIgaWQ9ImUiPjxzdG9wIHN0b3AtY29sb3I9IiNGRkYiIHN0b3At%0D%0Ab3BhY2l0eT0iMCIgb2Zmc2V0PSIwJSIvPjxzdG9wIHN0b3AtY29sb3I9IiNERUY1RkUiIG9mZnNl%0D%0AdD0iMTAwJSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRl%0D%0AKC00MCAtMykiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTAgMzI0%0D%0AYzE0LjQ1LTU0LjA0NyA0My43MS03NC41ODYgODcuNzc3LTYxLjYxNyA2Ni4xIDE5LjQ1NCA2Ni4x%0D%0AIDE4Ljc0NSAxMTEuMzE5LTE0LjA3OCAxMy41NjMtOS44NDUgNS4xMjQtNTYuNDA1LTE1LjIwOS01%0D%0ANy45My0yMC4zMzMtMS41MjctNC44MDYtMzUuMDYyIDMwLjIwMy00MS42NDIgMzUuMDA5LTYuNTc5%0D%0ALTkuNC01My4wMzctMzYuMDQ3LTY2LjUzOS0yNy42NzQtMTQuMDIyIDcuODc0LTUwLjkzMyAxMC42%0D%0AMi02NS4wM0MxOTMuMTE5LTUuNzIgMTMwLjIzMi01LjcyIDAgMTcuMTY0VjMyNHoiIGZpbGw9InVy%0D%0AbCgjYSkiLz48cGF0aCBkPSJNNDE1IDUzOGMtMjYuMTg4LS42MS00NS40OTktMTIuNTkyLTU3Ljkz%0D%0AMS0zNS45NDgtMTguNjQ5LTM1LjAzNC0xOC40OTUtMTEwLjc5Ny01OC4yNTUtMTA2LjY1NS0zOS43%0D%0ANiA0LjE0Mi04Mi4yNDgtMTIuODAzLTY3LjE2My02MC41MjcgMTUuMDg1LTQ3LjcyNCA1MC4zMi00%0D%0AMS44MDkgNTguNzQyLTExOS41OTcgOC40MjEtNzcuNzktNjAuNTMgMTYuMTQ4LTcxLjkxOC0zNS41%0D%0ANzctNC40NDctMjAuMiA2LjEwOS0yMi45MjItMTAuMjU4LTQ1LjY0Ny01LjQzMy03LjU0NC04LjA2%0D%0ALTE4LjQ3Ni02Ljk3Ny0yMi43MjVDMjA0LjYwNiAzOS43MzQgMjA2LjkzMSAzLjYyNiAyMDguMjE3%0D%0AIDNjNi4xMjYtMi45OCAxNC40MTYtMiAyNy41NS0yIDI4LjI3NiAwIDg4LjAyLjY2NyAxNzkuMjMz%0D%0AIDJ2NTM1eiIgZmlsbD0idXJsKCNiKSIvPjxyZWN0IGZpbGw9InVybCgjYykiIHRyYW5zZm9ybT0i%0D%0Acm90YXRlKDQ1IDgzIDY0OSkiIHg9Ijc1IiB5PSI2NDEiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIg%0D%0Acng9IjEuMjYzIi8+PHBhdGggZD0iTTk3LjAyNSA0NTguMDVsOC4zMzcgMTYuNjczYTIuMjY0IDIu%0D%0AMjY0IDAgMCAxLTIuMDI1IDMuMjc3SDg2LjY2M2EyLjI2NCAyLjI2NCAwIDAgMS0yLjAyNS0zLjI3%0D%0AN2w4LjMzNy0xNi42NzNhMi4yNjQgMi4yNjQgMCAwIDEgNC4wNSAweiIgc3Ryb2tlPSJ1cmwoI2Qp%0D%0AIiBzdHJva2Utd2lkdGg9IjQuNTI4IiBvcGFjaXR5PSIuNTQzIiB0cmFuc2Zvcm09InJvdGF0ZSgz%0D%0AMCA5NSA0NjYpIi8+PHJlY3QgZmlsbD0idXJsKCNlKSIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgMjY1%0D%0ALjE5MiA0NDkuMDIpIiB4PSIyNTguNjkyIiB5PSI0NDIuNTIxIiB3aWR0aD0iMTMiIGhlaWdodD0i%0D%0AMTMiIHJ4PSIxIi8+PC9nPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-color: #ebfbff;



  }

  .topcontainer  p{
    font-weight: 700;
  }

  .toplogo {
    position: absolute;
    display: inline-block;
    top: 55px;
    left: 5%;
    max-width: 100px;
    height: auto;
  }

  .tryfree {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 0px 7px #d6d6d6;
    -moz-box-shadow: 0px 0px 7px #d6d6d6;
    box-shadow: 0px 0px 7px #d6d6d6;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #00252e;
    font-size: 12px;
    background: #ffffff;
    padding: 5px 30px 5px 30px;
    text-decoration: none;
    position: absolute;
    display: inline-block;
    top: 50px;
    right: 5%;
  }
